footer {
  background-color: $brand-blue;

  .container {
    @include flex(column, flex-start, flex-start);

    .top {
      @include flex(row, center, space-between);
      margin-block: 4.8rem;
      width: 100%;

      ul {
        @include flex(row, center, flex-start);
        gap: 3rem;
        li {
          span {
            font-size: 1.4rem;
            color: #fff;
            opacity: 0.6;
          }
        }
      }
    }

    .links {
      width: 100%;
      @include flex(row, flex-start, space-between);
      padding-block: 6rem;
      border-block: 2px solid rgba(73, 196, 253, 0.2);

      h4 {
        font-size: 1.6rem;
        color: #fff;
        margin-bottom: 2.1rem;
      }

      ul {
        @include flex(column, flex-start, space-between);
        gap: 3.2rem;
        li {
          a {
            color: #fff;
            font-size: 1.4rem;
            opacity: 0.4;
          }
        }
      }
      .actions {
        a {
          background-color: rgba(0, 164, 240, 0.312);
          @include flex(row, center, flex-start);
          gap: 2.6rem;
          padding: 1.8rem 2.8rem;
          border-radius: 6px;
          color: #fff;
          line-height: 150%;
          font-size: 1.4rem;
          span {
            font-weight: bold;
            display: block;
          }
          &:not(:first-child) {
            margin-top: 2.4rem;
          }
        }
      }
    }

    .bottom {
      width: 100%;
      padding-block: 3.9rem;
      @include flex(row, flex-start, flex-start);
      gap: 2.5rem;
      border-bottom: 4px solid $brand-yellow;
      span {
        font-size: 20px;
      }

      p {
        color: #fff;
        max-width: 66rem;
        opacity: 0.8;
      }
    }
    @include responsive(425px) {
      flex-direction: column;
      gap: 32px;

      .top {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 0;
      }
      .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 42px;
        justify-content: space-between;
      }
    }
  }
}
